.DashBoard {
  margin-top: 30px;
  background-color: whitesmoke;
  width: fit-content;
  height: fit-content;
}

.Flex {
  display: flex;
}

.AccountOverview {
  height: 80px;
  padding: 50px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}